player-connection-mode=Listen
player-connection-guid=2431419938
player-connection-debug=0
player-connection-project-name=M1- GAMENET
player-connection-ip=192.168.1.18
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=eaa925f694404a5c871d0310a3d8538e
